.header--backPage {
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 5px;
}

.link--backPage {
  cursor: pointer;
  font-size: 14px;
  text-decoration: gray;
  color: rgba(0, 0, 0, 0.26);
}

.link--backPage:hover {
  text-decoration: underline;
}

.link--color--gray, .link--backPage {
  color: #565959;
}

.container {
  display: flex;
  gap: 4rem;
}

.container--image img{
  box-shadow: 0 2px 5px 1px rgba(0,0,0,.3);
  border-radius: 3px;
  border: 1px solid #CFCFCF;
}

.container--informations {
  width: 100%;
}

.container--informations--book {
  display: flex;
  align-items: center;
  padding-block: 0.5rem;
  font-size: 14px;
}

.container--informations--body {
  padding-block: 1rem;
}