* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  padding: 1rem 0;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, span {
  font-family: 'Lexend', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus, a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

.content--container {
  padding: 2rem;
}